<div class='container text-center'>
  <% if current_user_profile? %>
    <p>You don't have any books here yet.</p>
    <p class='box-button center-block'>
        <%= link_to "ADD YOUR FAVORITE BOOK", add_a_book_path %>
    </p>

  <% elsif logged_in? %>
    <h5>
      <%= @user.first_name %> doesn't have any books here yet.
    </h5>
    <%= link_to user_path(current_user) do %>
      <img class='center-block custom-button' src='/assets/images/icons/button_gotobookshelf_blue.png'/>
    <% end %>

  <% else %>
    <h5>
      <%= @user.first_name %> doesn't have any books here yet.
    </h5>
  <% end %>
  
  <%= render 'static_pages/explore', :layout => 'landing' %>
</div>