<div class='text-center'>
  <% if params[:tab] == "followers" %>
    <% if @user == current_user %>
      <h4>You don't have any followers yet.</h4>
      <p class='box-button center-block'>
          <%= link_to "ADD YOUR FAVORITE BOOK", new_book_path %>
      </p>
    <% else %>
      <h4><%= @user.first_name %> doesn't have any followers yet.</h4>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %>
          <%= hidden_field_tag :@user, @user %></div>
        <%= f.submit "Follow them", class: "btn btn-primary" %>
      <% end %>
    <% end %>

  <% elsif params[:tab] == "following" %>
    <% if @user == current_user %>
      <h4>You're not following anyone yet.</h4>
      <p class='box-button center-block'>
          <%= link_to "FIND PEOPLE TO FOLLOW", explore_path %>
      </p>
    <% else %> 
      <h4><%= @user.first_name %> isn't following anyone yet.</h4>
      <p class='box-button center-block'>
        <%= link_to "BACK TO THEIR BOOKSHELF", user_path(@user) %>
      </p>
    <% end %>
  <% end %>

  <%= render 'static_pages/explore',:layout => 'landing' %>
</div>