<h3><%= @title %></h3>

<div class='all-books' >
  <% if @users.any? %>
    <%= @users.each do |user| %>
      <div class='col-sm-3 col-xs-6 book-row'>
        <%= link_to user_path(user) do %>
          <img class='img-responsive img-circle' src="<%= user.image %>"/>
          <h3><%= user.first_name + " " + user.last_name%></h3>
          <h5><%= current_user.number_of_same_books(user)%> books in common</h5>
        <% end %>
      </div>
    <% end %>

  <% end %>
</div>