<% if @books.empty? && params[:tab] == "books" %>

  <h2>Hey, seems like you don't have any books.</h2>
  <h3><%= link_to "Why not add one?", new_book_path %></h3>
<% elsif @books.empty? && params[:tab] == "to-read" %>
  <h2>Hey, seems like you don't have anything you want to read.</h2>
  <h3><%= link_to "Why not see what others are reading", '/explore' %></h3>

<% else %>

  <div class='all-books' >
    <% @books.each do |book| %>

      <div class='col-sm-3 col-xs-6 book-row'>

        <div class='profile-book'>
          <img class='img-responsive' src='<%= book.cover_image_link %>'>     
        </div>
      

        <div class='book-options'>
            <h4><%= book.title %></h4>
            <h4><%= book.authors %></h4>

            <% if logged_in? %>
              <h5><%= link_to "Add to bookself", 
                      read_path(user_book: {book_id: book.id, user_id: current_user.id, status: "read"}),method: :post %></h5>
              <h5><%= link_to "Add to reading list",
                      read_path(user_book: {book_id: book.id, user_id: current_user.id, status: "to-read"}), method: :post %></h5>
              <% if current_user_profile? %>
                <h5><%= link_to "Remove book",
                        delete_book_path(user_book: {book_id: book.id, user_id: current_user.id}), 
                          method: :post %></h5>
              <% end %>
            <% end %>

            <h5><%= link_to "Buy Book", book.amazon_link %></h5>
        </div>
      </div>
    <% end %>
  </div>

<% end %>