<% if (@books.nil? || @books.empty?) %>
  <%= render 'empty_books' %>
<% else %>

  <div class='all-books' >
    <% @books.each do |book| %>

      <div class='col-sm-3 col-xs-6 book-row'>

        <div class='profile-book'>
          <img class='img-responsive' src='<%= book.cover_image_link %>'>     
        </div>
      

        <div class='book-options'>
            <h4><%= book.title %></h4>
            <h4><%= book.authors %></h4>

            <% if logged_in? %>
              <h5><%= link_to "Add to bookself", 
                      read_path(user_book: {book_id: book.id, user_id: current_user.id, status: "read"}),method: :post %></h5>
              <h5><%= link_to "Add to reading list",
                      read_path(user_book: {book_id: book.id, user_id: current_user.id, status: "to-read"}), method: :post %></h5>
              <% if current_user_profile? %>
                <h5><%= link_to "Remove book",
                        delete_book_path(user_book: {book_id: book.id, user_id: current_user.id}), 
                          method: :post %></h5>
              <% end %>
            <% end %>

            <h5><%= link_to "Buy Book", book.amazon_link %></h5>
        </div>
      </div>
    <% end %>
  </div>

<% end %>