<% if (@books.nil? || @books.empty?) %>
  <%= render 'empty_books' %>
<% else %>

  <div class='all-books' >
    <% @books.each do |book| %>

      <div class='col-sm-3 col-xs-6 book-row'>

        <div class='profile-book'>
          <img class='img-responsive' src='<%= book.cover_image_link %>'>     
        </div>
      

        <div class='book-options'>
            <h4 class='hover-title'><%= book.title %></h4>
            <h4 class='hover-title'><%= book.authors %></h4>

            <% if logged_in? %>

              <% unless current_user_profile? && book.user_books.find_by(user_id: current_user.id, status: "read") %>
                <%= link_to read_path(user_book: {book_id: book.id, user_id: current_user.id, status: "read"}), method: :post do %>
                  <ul class='list-inline hover-book-item'>
                    <li class="hover-book-item"><img class='icon' src='/assets/images/icons/hover_tobookshelf.png'/></li>
                    <li class="hover-book-item"><h5 class='hover-text'>Add to bookshelf</h5></li>
                  </ul>
                <% end %>  
              <% end %>

              <% unless current_user_profile? && book.user_books.find_by(user_id: current_user.id, status: "to-read") %>
                <%= link_to read_path(user_book: {book_id: book.id, user_id: current_user.id, status: "to-read"}), method: :post do %>
                  <ul class='list-inline'>
                    <li class="hover-book-item"><img class='icon' src='/assets/images/icons/hover_toread.png'/></li>
                    <li class="hover-book-item"><h5 class='hover-text' >Reading list</h5></li>
                  </ul>
                <% end %>
              <% end %>

              <% if current_user_profile? %>
                <%= link_to delete_book_path(user_book: {book_id: book.id, user_id: current_user.id}), method: :post do %>
                  <ul class='list-inline'>
                    <li class="hover-book-item"><img class='icon' src='/assets/images/icons/hover_remove.png'/></li>
                    <li class="hover-book-item"><h5 class='hover-text' >Remove book</h5></li>
                  </ul>
                <% end %>
              <% end %>

            <% end %>

            <%= link_to book.amazon_link do %>
              <ul class='list-inline'>
                <li class="hover-book-item"><img class='icon' src='/assets/images/icons/hover_buy.png'/></li>
                <li class="hover-book-item"><h5 class='hover-text' >Buy this book</h5></li>
              </ul>
            <% end %>

        </div>
      </div>
    <% end %>
  </div>

<% end %>