<div class='user-information'>

  <div class="text-center">
    <img class='img-circle' id='profile-photo' src='<%= @user.image %>'/>

    <h3><%= @user.first_name%> <%=@user.last_name%> </h3>

    <h5><%= @user.description unless @user.description.nil? %></h5>

    <% unless @user == current_user %>
      <%= link_to "#{book_count(@user)}", user_path(@user, tab: 'books') %>
    <% end %>

    <%= link_to "#{@user.followers.count} followers", user_path(@user, tab: 'followers') %>

    <%= render 'following_form' if logged_in? %>
    <% if @user == current_user %>
      <h5><%= link_to "ADD A BOOK", new_book_path %></h5>
    <% end %>

  </div>


<div class="col-md-12 text-center">
  <ul class='nav nav-tabs center-pills'>
      <li class='<%= 'active' if params[:tab].nil? %> tab'>
        <%= link_to "BOOKSHELF", user_path(@user) %>
      </li>
      <% unless @user.provider == 'identity' %>
        <li class='<%= 'active' if params[:tab] == 'to-read' %> tab'>
          <%= link_to "TO READ", user_path(@user, tab: 'to-read') %>
        </li>  
        <li class='<%= 'active' if params[:tab] == 'following' %> tab'>
          <%= link_to "FOLLOWING (#{@user.following.count})", user_path(@user, tab: 'following') %>
        </li>  
      <% end %>
  </ul>
</div>

  <% if @user.provider == 'identity' %>
    <%= render 'user_books'%>
  <% else %>
    <% if params[:tab].nil? %>
      <%= render 'user_books', tab: "books"%>
    <% elsif params[:tab] == 'to-read' %>
      <%= render 'user_books', tab: "to-read" %>
    <% elsif params[:tab] == 'followers' %>
      <%= render 'user_cards', users: @followers %>
    <% elsif params[:tab] == 'following' %>
      <%= render 'user_cards', users: @following %>
    <% elsif params[:tab] == 'books' %>
      <%= render 'user_books' %>
    <% end %>
  <% end %>
</div>
