<%= render 'books/search' %>

<% if @books %>

  <h3>Choose your book </h3>

  <ul class='display-inline'>
    <% @books.items.each_with_index do |book, n| %>

      <% unless @covers.items[n].get('LargeImage/URL') == nil %>

        <%= form_for @book do |f| %>

          <% item_attributes = book.get_element('ItemAttributes') %>
            <input name="book[title]" type="hidden" value="<%= item_attributes.get('Title') %>"/>
            <input name="book[authors]" type="hidden" value="<%= item_attributes.get('Author') %>"/>
            <input name="book[amazon_link]" type="hidden" value="<%= book.get_element('ItemLink').get('URL') %>"/>
            <input name="book[asin]" type="hidden" value="<%= @covers.items[n].get('ASIN') %>"/>
            <input name="book[cover_image_link]" type="hidden" value="<%= @covers.items[n].get('LargeImage/URL') %>"/>
            <li><%= image_submit_tag(@covers.items[n].get('LargeImage/URL')) %></li>

        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>