<% books = GoogleBooks::API.search('million james') %>

<p>We there are <%= books.total_results %> books that match that query.</p>

<% book = books.first %> 

<p>The first one was <%= book.title %> by <%= book.authors[0] %> </p>

<p>This is a picture of it:</p>

<img src='<%= book.covers[:thumbnail] %>'/>
<img src='<%= book.covers[:small] %>'/>