<nav class='navbar nav-inner'>
  <ul class='list-inline '>

    <li class="nav nav-item navbar-left">
      <h3><%= link_to "Explore", '/explore' %></h3> 
    </li>

    <li class="nav nav-item navbar-center">
      <%= link_to root_path do %>
        <h3 id="title">Bookself</h3>
      <% end %>
    </li>

    <% if logged_in? %>
      <li class='nav nav-item navbar-right'>
        <div class='btn-group pull-right'>
          <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
            <img class='img-circle navbar-photo' src="<%= current_user.image %>"/> <span class='caret'></span>
          <%end%>
          <ul class='dropdown-menu black'>
            <li class='option'>
              <%= link_to "My Bookshelf", user_path(current_user) %>
            </li>
            <li class='option'>
              <%= link_to "Reading List", user_path(current_user, tab: 'to-read') %>
            </li>
            <li class='option'>
              <%= link_to "Sign Out", signout_path %>
            </li>
          </ul>
        </div>
      </li>

    <% else %>
      <li class="nav nav-item navbar-right">
        <%= link_to '/auth/facebook' do %>
          <h3 id="title">Sign In</h3>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>