<!DOCTYPE html>
<html>
<head>
  <title>Bookself</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1661832597368166',
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>


    <div class="container-fluid white" id='header' >
      <div class='navigation'>
          <%= render 'layouts/navigation' %>
      </div>
    </div>

    <div class="container-fluid" id='main-container'>
      <%= render 'layouts/background' %>
      <%= yield %>
    </div>

</body>
</html>
